@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&family=Spline+Sans+Mono:wght@300&display=swap');

.fmain {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.fmain textarea {
    padding: 1rem;
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.1rem;
    background-color: rgb(32, 32, 32);
    font-family: 'Spline Sans Mono', monospace;
    border : 2px solid rgb(49, 49, 137);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px ;
}

.fmain textarea:focus{
    outline-color: rgb(55, 55, 201);
    outline-width: 8px;
    background-color: rgb(50, 49, 49);
    

}

.Info{
    margin-top: .10rem;
    color: whitesmoke;
    background-color: black;
    padding: .8rem;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
}

.Info-1{
    margin-top: 1rem;
    border-top-left-radius: 5px  ;
    border-top-right-radius: 5px  ;
}
.Info-4{
    
    border-bottom-left-radius: 5px  ;
    border-bottom-right-radius: 5px  ;
}
.heading{
    background: black;
    letter-spacing: 2px;
    padding: 10px 1rem;
    color: white;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    border-radius: 5px;
    margin-bottom: .2rem;
    font-family:Arial, Helvetica, sans-serif;
}

#Previews{
    color: white;
    font-size: 1rem;
    padding-left: 2px;
    
    
}

.btn-spl{
    padding: 5px 10px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    
}

/*-------------popUp Design------------------------*/


.model-container{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    position:absolute;
    top: 0px;
    left: 0px;
    padding-top: 5rem;
    font-family: 'Open Sans', sans-serif;
    
    
}


.model{

    width: 60%;
    max-height: 80vh;
    overflow-y: scroll;
    background-color: white;
    padding: 4rem ;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.model-head{
    margin-bottom: 1rem;
}

#close-btn{
    
    background: #093475;
    margin-top: 1.5rem;
    
    border: 1px solid gray;
    border-radius: 3px;
    padding: 6px 15px;
    cursor: pointer;
    color: white;


}

.show{
    display: block;

}

#close-btn:hover{
    background-color: #1a4c97;
}



@media screen and (max-width : 426px) {
    .fmain {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .fmain textarea {
        padding: .5rem;
        padding-top: .5rem;
        padding-bottom: 1rem;
        font-size: .9rem;

    }
    #Previews{
        color: white;
        font-size: .8rem;
        padding-left: 2px;
        
    }
    .model{

        width: 88%;
        max-height: 80vh;
        overflow-y: scroll;
        background-color: white;
        padding: 2rem ;
        border-radius: 8px;
    }
    .model-head{
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    
}